<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/budget.css">

    <title> NeonNauta Pinturas - garantimos seu mundo mais colorido!!!</title>
</head>

<body>
    <div class="container">
        <header>
            <h1>NeonNauta Pinturas</h1>
            <div class="menu">
                <a href="index.html"><img src="../assets/icons/home.svg" alt="home">home</a>
                <a href="painting.html"><img src="../assets/icons/image.svg" alt="pinturas">pinturas</a>
                <a href="photos.html"><img src="../assets/icons/photo.svg" alt="fotos">fotos</a>
                <a href="budget.html"><img src="../assets/icons/budget.svg" alt="orcamento">orçamento</a>
                <a href="talk.html"><img src="../assets/icons/talk.svg" alt="fale">fale conosco</a>
            </div>
        </header>

        <div class="content">
            <h2>Solicite um orçamento com a gente!!!<br>preencha os campos abaixo e entraremos em contato: </h2>
            <form action="" class="send_budget">
                <fieldset>
                    <legend>orçamento</legend>
                    <div class="name">
                        <label for="name">Nome:</label>
                        <input type="text" name="name" id="name" required>
                    </div>
                    <div class="phone">
                        <label for="phone">Telefone:</label>
                        <input type="tel" name="phone" id="phone" required>
                    </div>

                    <div class="address">
                        <label for="address">Endereço:</label>
                        <input type="text" name="address" id="address" required>
                    </div>

                    <div class="email">
                        <label for="email">Email:</label>
                        <input type="email" name="email" id="email" required>
                    </div>

                    <div class="width">
                        <label for="width">Largura <small>(cm)</small>:</label>
                        <input type="number" name="width" id="width" required>
                    </div>

                    <div class="height">
                        <label for="height">Altura <small>(cm)</small>:</label>
                        <input type="number" name="height" id="height" required>
                    </div>

                    <div class="weight">
                        <label for="weight">Peso:</label>
                        <input type="number" name="weight" id="weight required">
                    </div>

                    <div class="amount">
                        <label for="amount">Quantidade/mês:</label>
                        <input type="number" name="amount" id="amount" required>
                    </div>

                    <div class="photo">
                        <label for="photo">Foto da peça:</label>
                        <input type="file" name="photo" id="photo" multiple required>
                    </div>

                    <div class="color">
                        <label for="color">Cor desejada:</label>
                        <input type="color" name="color" id="color" required>
                    </div>

                    <div class="sla">
                        <label for="sla">SLA:</label>
                        <input type="date" name="sla" id="sla" required>
                    </div>
                </fieldset>
            </form>
        </div>
        <hr>
        <footer>
            <p> NeonNauta pinturas - Endereço:Rua das pinturas de neon, 1733</p>
        </footer>

    </div>

</body>

</html>