<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/painting.css">

    <title> NeonNauta Pinturas - garantimos seu mundo mais colorido!!!</title>
</head>

<body>
    <div class="container">
        <header>
            <h1>NeonNauta Pinturas</h1>
            <div class="menu">
                <a href="index.html"><img src="../assets/icons/home.svg" alt="home">home</a>
                <a href="painting.html"><img src="../assets/icons/image.svg" alt="pinturas">pinturas</a>
                <a href="photos.html"><img src="../assets/icons/photo.svg" alt="fotos">fotos</a>
                <a href="budget.html"><img src="../assets/icons/budget.svg" alt="orcamento">orçamento</a>
                <a href="talk.html"><img src="../assets/icons/talk.svg" alt="fale">fale conosco</a>
            </div>
        </header>
        <div class="content">
            <h2>A NeonNauta é uma startup que trabalha apenas com pinturas de Neon.</h2>
            <h2>Trabalhamos inicialmente com 3 itens.</h2>
            <h2>sendo que em breve estaremos com mais novidades para proporcionar aos nossos clientes uma gama infinita
                de possibilidades e adaptabilidade.</h2>

            <div class="portfolio">
                <img src="../assets/city.jpg" alt="city">
                <figcaption><i>Trabalhamos com pinturas neon para cidades</i></figcaption>

                <img src="../assets/glitter.jpg" alt="glitter">
                <figcaption><i>Neon para maquiagens</i></figcaption>

                <img src="../assets/object.jpg" alt="object">
                <figcaption>Neon para acessórios</figcaption>
            </div>

            <p>Realizamos de duas maneiras, o cliente nos solicita esboços, e então os nossos artistas irão realizar uma
                pequena entrevista.
                O intuito é de fazer um trabalho cujo a marca além de única será conforme a personalidade do cliente.
                Realizamos também conforme o cliente tanto sonha e almeja sua que seus negócios sejam iluminados e
                atrativos</p>
                <div class="source">
                    <p> fonte: <a href="https://unsplash.com/s/photos/neon">https://unsplash.com/s/photos/neon</a></p>
                </div>
        </div>

        <hr>
        <footer>
            <p> NeonNauta pinturas - Endereço:Rua das pinturas de neon, 1733</p>
        </footer>    
    </div>

</body>

</html>