<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/photos.css">
    
    <title> NeonNauta Pinturas - garantimos seu mundo mais colorido!!!</title>
</head>

<body>
    <div class="container">
        <header>
            <h1>NeonNauta Pinturas</h1>
            <div class="menu">
                <a href="index.html"><img src="../assets/icons/home.svg" alt="home">home</a>
                <a href="painting.html"><img src="../assets/icons/image.svg" alt="pinturas">pinturas</a>
                <a href="photos.html"><img src="../assets/icons/photo.svg" alt="fotos">fotos</a>
                <a href="budget.html"><img src="../assets/icons/budget.svg" alt="orcamento">orçamento</a>
                <a href="talk.html"><img src="../assets/icons/talk.svg" alt="fale">fale conosco</a>
            </div>
        </header>

        <div class="content">
            <h2>Eis aqui algumas de nossas fotos que esboçamos durante os nossos atendimentos.</h2>
        <h2>Sempre que algumas de nossas obras não agrada o cliente mas nossos artistas não querem descartar o trabalho.</h2>
        <h2>Nós "penduramos" no nosso mural dos esboços para admirar e para mostrar a outros de nossos clientes um pouco de nosso trabalho.</h2>
        <img src="../assets/logo.jpg" alt="logo">
        <img src="../assets/neon (1).jpg" alt="neon1">
        <img src="../assets/neon (2).jpg" alt="neon2">
        <img src="../assets/neon (3).jpg" alt="neon3">
        <img src="../assets/neon (4).jpg" alt="neon4">
        </div>
    
        <hr>
        <footer>
            <p> NeonNauta pinturas - Endereço:Rua das pinturas de neon, 1733</p>
        </footer>
    </div>

</body>
</html>