<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/talk.css">
    
    <title> NeonNauta Pinturas - garantimos seu mundo mais colorido!!!</title>
</head>

<body>
    <div class="container">
        <header>
            <h1>NeonNauta Pinturas</h1>
            <div class="menu">
                <a href="index.html"><img src="../assets/icons/home.svg" alt="home">home</a>
                <a href="painting.html"><img src="../assets/icons/image.svg" alt="pinturas">pinturas</a>
                <a href="photos.html"><img src="../assets/icons/photo.svg" alt="fotos">fotos</a>
                <a href="budget.html"><img src="../assets/icons/budget.svg" alt="orcamento">orçamento</a>
                <a href="talk.html"><img src="../assets/icons/talk.svg" alt="fale">fale conosco</a>
            </div>
        </header>

        <div class="content">
            <h1>Gostou do nosso conteúdo?</h1>
        <h2>entre em contato com a gente!!!</h2>
        <p>Segue nosso contato abaixo, faremos um atendimento rapidinho :)<p>

            <address>
               <p>Endereço: Rua das pinturas de neon, 1733 </p>
               <p>Telefone: 11 2356-7845 </p>
               <p>Email: Neonpinturas@neonpaint.com.br</p>
            </address>

            <h2>Quer nos conhecer pessoalmente?</h2>
            <p>Segue o mapa da nossa localização logo abaixo!!!</p>
        </div>
        <hr>
        <footer>
            <p> NeonNauta pinturas - Endereço:Rua das pinturas de neon, 1733</p>
        </footer>
    </div>

</body>
</html>


    

    

    