.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container p{
    margin-bottom: 2rem;
    text-align: center;
}

fieldset{
    padding: 1rem;
}

fieldset input{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 0 0.5rem 0;

    width: 290px;
    height: 2.8rem;

    font: 2rem Bangers;    
}

small{
    font-size: 1.5rem;
}

@media (max-width:1024px){
    fieldset input{
        width: 70vw;
    }
}