@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Bangers&display=swap');

:root{
    --color-background: #f197e2;
    --color-text-header: red;
    --color-menu-link: #0270ee;
    --color-container: #680332b7;
    --color-menu-link-hover: #0206ee;
    
    font-size: 60%;
}

html, body{
   width: 100vw;
}

body{
    background: var(--color-background);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

header{
    font: 1.3rem Orbitron;
}

div#logo{
    background: url("../images/logo.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
}

div#logo h1{
    font-size: 3rem;
    color: var(--color-text-header);
}

div.menu{
    display: flex;
    justify-content: flex-end;
    margin-top: 20rem;
}

div.menu img{
    width: 3.5rem;
}


div.menu a{
    padding: 1rem;
    background-color: var(--color-menu-link);
    border-radius: 2.9rem;
    margin: 0 0.2rem 0 0.2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;

    color: var(--color-text-header);
    transition: background 0.4s;

}

div.menu a:hover{
    background: var(--color-menu-link-hover);
}


.container{
    width: 50%;
    margin: auto;

    font: 2.3rem Bangers;
    color: var(--color-container);
    
    text-align: justify;
}

#source{
    margin: auto;
    font: italic bold 2.5rem Bangers;
    text-align: end;
}

footer{
    font: 1.3rem Orbitron;
    color: var(--color-text-header);
}

#rodape hr{
    border: 0.1rem solid black;
    margin: 2rem 0 1rem 0;
}

@media (max-width: 1024px){ /*de 0 até 1024px de resolução de tela, execute as ações dentro do @media*/
    :root{
        font-size: 40%;
    }

    header{
        font: 0.9rem Orbitron;
    }

    div#logo{
        height: 25vw;
    }

    div#logo h1{
        font-size: 2rem;
        text-align: start;
    }

    div.menu{
        position: fixed;
        
        display: flex;
        flex-direction: column;
        right: 0;
    }

    div.menu a{
       font-size: 0;
       margin: 0 0 0.5rem 0;
    }

    .container{
        width: 75vw;
    }

}