@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Bangers&display=swap');

:root{
    --color-background: #f197e2;
    --menu-link: #0270ee;
    --color-container: #a5185a;
    --menu-link-hover: #0206ee;
    
    font-size: 60%;
}

html{
    font: 1.4rem Orbitron;    
}

body{
    background: var(--color-background);
    width: 100vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

header{
    background: url("../assets/logo.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 30vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header h1{
    font-size: 3rem;
    color: red;
}

.menu{
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: flex-end;

}
.menu a{
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 3rem;

    background-color: var(--menu-link);

    padding: 1rem;
    margin: 1rem;

    text-decoration: none;
    text-transform: uppercase;
    color: red;

    transition: background 0.4s;
}

.menu a:last-child{
    margin-right: 2.4rem;
}

.menu a:hover{
    background: var(--menu-link-hover);
}

.content{
    width: 70vw;
    margin: auto;

    font: 2.3rem Bangers;
    text-align: justify;
    color: var(--color-container);
}

.content h1{
    font-size: 6rem;
    margin: 3rem auto;
}

.content h3{
    font-size: 3rem;
    margin: 1rem auto;
}

.content p{
    font-size: 2rem;
    line-height: 3rem;
}

.source{
    margin: 1.6rem auto;
    font: italic bold 2.5rem Bangers;
}

.source p{
    text-align: end;
}

.source a{
    text-decoration: none;
    font-weight: 400;
    color: var(--menu-link);
}

.source a:hover{
    color: var(--menu-link-hover);
}

hr{
    border: 0.1rem solid black;
}

footer{
    font: 1.3rem Orbitron;
    color: red;
    margin: 1rem auto;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

footer p{
    margin-right: 1rem;
}

@media (max-width: 1024px){ 
    :root{
        font-size: 40%;
    }

    header{
        font: 0.9rem Orbitron;
    }

    header h1{
        font-size: 4rem;
    }
    
    .menu{
        width: 16vw;
        height: 80vh;
        position: fixed;
        flex-direction: column;
        right: 0;
        top: 0;
    }

    .menu a{
       font-size: 0;
    }

    .menu a:last-child{
        margin-right: 1rem;
    }

    .content p{
        line-height: 3.6rem;
    }

    footer p{
       text-align: center;
       font-size: 1.8rem;
    }
}