div#portfolio{
    text-align: center;
    margin: 2rem 0 2rem 0;
}

#portfolio img{
    width: 35vw;
}

#portfolio h2{
    margin: 3rem 0 0 0;
}

@media (max-width: 1024px){
    #portfolio img{
    width: 75vw;
    }
}