.container{
    text-align: center;
    width: 100vw;
}

address{
    margin: 1rem 2rem;
}

@media(max-width:1024px){
    .container{
        width: 75vw;
    }

    address{
        margin: 4rem 4rem;
    }

}